/** {border: 1px solid red;}*/
html {font-family: Roboto Condensed, sans-serif;}
/*---------------Основная разметка--------------*/
.header {
	max-width: 100%;

}
section {
	max-width: 100%;
	display: block;
}
.second {
	height: 550px;
}
.third {
	height: 670px;
}
.fourth {
	height: 580px;
}
.fifth {
	height: 1040px;
}
/*---------------Конец основной разметки--------------*/
.header-text {
	max-width: 100%;
	height: 190px;
}
.header-nav {
	background-color: #2B4074;
}
.nav {
	max-width: 1300px;

	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}

.menu-button {
	background-color: white;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	float: right;
}
.header-intro {
	
	max-width: 100%;
	background-image: url("../images/bg-img.jpg");
	height: 670px;
	display: flex;
	flex-direction: column;
	background-size: cover;
	align-items: center;
	margin-left: auto;

    margin-right: auto;
}
h1, p {
	color: white;
	margin: 0;
}
h1 {
	width: 590px;
	height: 192px;
	text-align: center;
	color: white;
	letter-spacing: 2px;
	font-size: 96px;
	line-height: 96px;
	font-weight: normal;
	
}
.btn {
	width: 150px;
	text-align: center;
	color: white;
	text-decoration: none;
	
	font-size: 18px;
	background-color: #2B4074;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 18px;
	padding-bottom: 14px;
	border-radius: 3px;

}
.btn:hover {
	background-color: #F9F6E5;
	color: #2B4074;
}
.intro-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
	font-weight: 700;
	
}
.header-text {
	font-size: 24px;
	width: 890px;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 80px;
	text-align: center;
}

.fa-bars:before {
    content: "\f0c9";
}
.dots {
	margin-top: 100px;
}
.fa-circle{
	margin-left: 5px;
    margin-right: 5px;
    color: white;
    border-radius: 50%;
    background: white;
    font-size: 13px;
}
.fa-circle:before {
    content: '\f111';
}
.fa-circle:hover {
	
	background-color: transparent;
}
.arrows {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 0px;
	top: 320px;
}
.fa-chevron-left:before {
	content: '\f053';
}
.fa-chevron-right:before {
	content: '\f054';
}

.fa-chevron-left,  .fa-chevron-right{
	color: white;
	padding: 25px;
	font-size: 25px;
	border-radius: 5px;
	background-color: #2B4074;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
	background-color: #F9F6E5;
	color: gray;
}
.about {
	width: 100%;
	height: 200px;
	background-color: #2B4074;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.about-text {
	color: white;
}
.about-btn {
	text-decoration: none;
	color: #2B4074;
	background-color: #F9F6E5;
	padding: 15px;
	height: 50px;
	border-radius: 3px;
	font-size: 18px;
}
.about-btn:hover {
	border: 2px solid #F9F6E5;
	background-color: #2B4074;
	color: #F9F6E5;
}